<!DOCTYPE html>
<meta charset="utf8">
<meta name=viewport content=width=device-width>
<link rel=icon href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' style='background:%232196f3'><path d='M7,25L17,32L33,12' fill='none' stroke='black' stroke-width='5'/><path d='M7,23L17,30L33,10' fill='none' stroke='white' stroke-width='5'/></svg>">
<title>{{ title }} — Results — Score Voting</title>
<style>
body { padding: 0; margin: 0 }
main { padding-top: 0.75rem; padding-bottom: 0.75rem }
main > * { padding-left: 0.75rem; padding-right: 0.75rem }
body, input, button {
	/* Line spacing at least 1.5 per Web Content Accessibility Guidelines
	   https://www.w3.org/WAI/WCAG21/Understanding/visual-presentation.html */
	font: 1rem/1.5 -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
main { max-width: 40em; margin: 0 auto }
h1 { margin-bottom: 0; overflow-y: auto; max-width: 100% }
.nv { text-decoration: none; font-variant: all-small-caps }
span { margin-bottom: 1em; display: block }
section, table, aside {
	border: solid 1px currentColor;
	padding: 0.5em;
	margin: 1em;
}
section { margin-top: 2em }
section label {
	display: flex;
	flex-direction: row;
}
section input {
	flex-grow: 1;
	margin-left: 1em;
}
html, header span {
	color: #000;
	background: #fff;
}
header {
	margin-top: -1.5em;
	margin-left: 1em;
	display: block;
}
header span {
	padding: 0.25em;
	display: inline-block;
	margin-bottom: 0.25em;
}
@media (prefers-color-scheme: dark) {
	html, header span { color: #fff; background: #000 }
	:link { color: #45a1ff }
	:visited { color: #c069ff }
	input { color: #fff; background: #111 }
}
</style>
<main>
	<a href=/ class=nv>❮ Score Vote</a>
	<h1>{{ title }}</h1>
	<span>Share link: <a href="{{ url }}">{{ url }}</a></span>
	{%- if is_closed %}
	<aside>This poll has been closed.</aside>
	{%- endif %}
	{%- if bad_password %}
	<aside>Incorrect password.</aside>
	{%- endif %}
	<table>
		<thead>
			<tr>
			<th>Option
			<th>Score
			<th>Votes
		<tbody>
		{%- for (name, d) in data %}
			<tr>
			<td>
				{%- if loop.first -%}<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' style='background:#2196f3' width='15px' height='15px'><path d='M7,25L17,32L33,12' fill='none' stroke='black' stroke-width='5'/><path d='M7,23L17,30L33,10' fill='none' stroke='white' stroke-width='5'/></svg> {% endif -%}
				{{ d.name.as_ref().unwrap_or(name) }}
			<td>{{ format!("{:.2}", d.score) }}
			<td>{{ d.votes }}
		{%- endfor %}
	</table>
	{%- if !is_closed && has_password %}
	<section>
		<header><span>Close Poll</span></header>
		<form action="{{ url }}/close" method="POST">
			<label>Password <input name="password" type="password"></label>
			<button type="submit">Submit</button>
		</form>
	</section>
	{%- endif %}
</main>
